{
  "printWidth": 120,
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none",

  "plugins": ["prettier-plugin-sort-imports"],

  "sortingMethod": "alphabetical",
  "importTypeOrder": ["NPMPackages", "localImports"],
  "newlineBetweenTypes": true,
  "stripNewlines": true
}
